body{
    background-color: #e3edf7 ;
    font-family: "Winky Sans", normal;
    text-align: center;
    margin: 0%;
    
}

h1{
  display: inline-block;
  padding: 10px 1px;
  background-color: #8fb6d8;
  border: 2px solid #8fb6d8;
  border-radius: 30px;
  text-decoration: none;
  color: #edf4fa;
  margin: 20px;
}

.row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;

  margin-bottom: 30px;
}

.card {
  width: 400px;
  background: #f9f9f9;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 10px;
}
.card video {
  width: 100%;
  border-radius: 10px;
}

button{
  background-color: #8fb6d8;
  color: #e3edf7;
  width: 10%;
  border-radius: 2px;
  border-color: #8fb6d8;
  margin: 20px;
}